<app-page>
  <ng-container content>
    <div class="bg-slate-50">
      <div class="container mx-auto p-16">
        <div>
          <p class="text-gray-500/90">
            <a routerLink=""> {{ "translate_home" | translate }} </a>
            <span class="px-2">
              <i class="fa-solid fa-chevron-left fa-sm"></i>
            </span>
            {{ "translate_terms_of_use" | translate }}
          </p>
        </div>

        <div class="w-full md:w-3/4 lg:w-2/3 mt-5 relative">
          <h1 class="text-2xl font-bold">
            {{ "translate_terms_of_use" | translate }}
          </h1>
          <p class="pt-4 leading-7 text-gray-500/90">
            {{ "translate_terms_of_use_description" | translate }}
          </p>
          <p
            class="pt-4 ps-6 text-gray-500/90 before:absolute before:block before:w-2 before:h-2 before:bg-teal-500 before:rounded-sm before:translate-y-2 before:translate-x-4 ltr:before:-translate-x-4"
          >
            {{ "translate_terms_of_use_paragraph" | translate }}
          </p>
          <p
            class="pt-2 ps-6 text-gray-500/90 before:absolute before:block before:w-2 before:h-2 before:bg-teal-500 before:rounded-sm before:translate-y-2 before:translate-x-4 ltr:before:-translate-x-4"
          >
            {{ "translate_terms_of_use_paragraph" | translate }}
          </p>
          <p
            class="pt-2 ps-6 text-gray-500/90 before:absolute before:block before:w-2 before:h-2 before:bg-teal-500 before:rounded-sm before:translate-y-2 before:translate-x-4 ltr:before:-translate-x-4"
          >
            {{ "translate_terms_of_use_paragraph" | translate }}
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</app-page>
