<div class="flex flex-col gap-2 text-gray-600 pb-20">
  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-[rgba(30,170,173,1)] before:rounded-sm before:translate-y-6"
    >
      معلوماتك الشخصية
    </h1>
    <div class="font-semibold">
      <p class="pb-3">
        <span class="font-bold pl-2">البريد الإلكتروني </span
        >adnan20222&#64;gmail.com
      </p>
      <p class="pb-3">
        <span class="font-bold pl-2">رقم الجوال </span>96600000000000+
      </p>
      <p class="pb-3">
        <span class="font-bold pl-2">بلد الإقامة </span>السعودية
      </p>
      <p class="pb-3"><span class="font-bold pl-2">النوع </span>ذكر</p>
    </div>
  </div>

  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-[rgba(30,170,173,1)] before:rounded-sm before:translate-y-6"
    >
      نبذة عني
    </h1>
    <div>
      <p class="pb-3 pl-10 leading-7 text-gray-400">
        هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي
        القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة
        التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ
        طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا
        يوجد محتوى نصي"
      </p>
    </div>
  </div>

  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-[rgba(30,170,173,1)] before:rounded-sm before:translate-y-6"
    >
      مجالات الإختصاص
    </h1>
    <div class="flex flex-wrap">
      <p
        class="flex w-fit font-semibold text-teal-500 border-2 border-teal-500 rounded-xl mt-3 mx-1 px-3 py-2 hover:bg-[rgba(30,170,173,1)] hover:text-white transition-all"
      >
        تصميم مواقع
      </p>
      <p
        class="flex w-fit font-semibold text-teal-500 border-2 border-teal-500 rounded-xl mt-3 mx-1 px-3 py-2 hover:bg-[rgba(30,170,173,1)] hover:text-white transition-all"
      >
        إنشاء موقع إلكتروني
      </p>
      <p
        class="flex w-fit font-semibold text-teal-500 border-2 border-teal-500 rounded-xl mt-3 mx-1 px-3 py-2 hover:bg-[rgba(30,170,173,1)] hover:text-white transition-all"
      >
        إنشاء موقع إلكتروني
      </p>
    </div>
  </div>

  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-[rgba(30,170,173,1)] before:rounded-sm before:translate-y-6"
    >
      الشهادات والدورات
    </h1>
    <div class="flex justify-between items-center pb-3">
      <p>جافاسكربت</p>
      <div class="flex gap-2">
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
      </div>
    </div>
    <div class="flex justify-between items-center pb-3">
      <p>برمجة PHP</p>
      <div class="flex gap-2">
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-gray-400/50 rounded-sm"></span>
        <span class="block w-5 h-5 bg-gray-400/50 rounded-sm"></span>
      </div>
    </div>
    <div class="flex justify-between items-center pb-3">
      <p>لغة جافا</p>
      <div class="flex gap-2">
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-gray-400/50 rounded-sm"></span>
      </div>
    </div>
  </div>

  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-[rgba(30,170,173,1)] before:rounded-sm before:translate-y-6"
    >
      اللغات
    </h1>
    <div class="flex justify-between items-center pb-3">
      <p>اللغة العربية</p>
      <div class="flex gap-2">
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
      </div>
    </div>
    <div class="flex justify-between items-center pb-3">
      <p>اللغة الإنجليزية</p>
      <div class="flex gap-2">
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-[rgba(30,170,173,1)] rounded-sm"></span>
        <span class="block w-5 h-5 bg-gray-400/50 rounded-sm"></span>
        <span class="block w-5 h-5 bg-gray-400/50 rounded-sm"></span>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row gap-2">
    <div class="w-full md:w-3/6 bg-white p-4">
      <h1
        class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-[rgba(30,170,173,1)] before:rounded-sm before:translate-y-6"
      >
        توثيقات
      </h1>
      <div class="flex flex-wrap gap-x-24 gap-y-2">
        <p>
          <i class="fa-solid fa-circle-check text-[#61bf03]"></i>
          البريد الإلكتروني
        </p>
        <p>
          <i class="fa-solid fa-circle-check text-[#61bf03]"></i> البريد
          الإلكتروني
        </p>
        <p>
          <i class="fa-solid fa-circle-check text-[#61bf03]"></i> البريد
          الإلكتروني
        </p>
        <p>
          <i class="fa-solid fa-circle-check text-[#61bf03]"></i> البريد
          الإلكتروني
        </p>
      </div>
    </div>
    <div class="w-full md:w-3/6 bg-white p-4">
      <h1
        class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-[rgba(30,170,173,1)] before:rounded-sm before:translate-y-6"
      >
        أوسمة
      </h1>
      <div class="flex gap-8">
        <div class="flex flex-col items-center gap-2">
          <p><i class="fa-solid fa-tag fa-xl"></i></p>
          أوسمة
        </div>
        <div class="flex flex-col items-center gap-2">
          <p><i class="fa-solid fa-tag fa-xl"></i></p>
          أوسمة
        </div>
        <div class="flex flex-col items-center gap-2">
          <p><i class="fa-solid fa-tag fa-xl"></i></p>
          أوسمة
        </div>
      </div>
    </div>
  </div>
</div>
