
hr.dashed-border {
  width: 98% !important;
  border-bottom: .5px dashed rgba(204, 204, 204, 0.342);
  padding-bottom: 8px;
}
.head a{
  color: #9e9a9a;
  transition: color .3s;
}
.head i{
  color: #9e9a9a;
  transition: color .3s;
}
.head a:hover{
  color: #595858;
}
.head i:hover{
  color: #595858;
}
summary{
  list-style-type: none;
}
.fa-plus,
.fa-minus {
  font-size: 1.2em; 
  margin-right: 5px; 
  display: inline-block;
}

.fa-minus {
  display: none;
}


details[open] .fa-plus {
  display: none;
}

details[open] .fa-minus {
  display: inline-block;
}
