.header {
  background-color: #1eaaad;
}

.bg-main {
  background-color: #1eaaad;
  &:hover {
    background-color: darken(#1eaaad, 10%);
  }
}

.main-color {
  color: #1eaaad;
  &:hover {
    color: #02385a;
  }
}

.label-color {
  color: #02385a;
}

.file-upload {
  position: relative;
  cursor: pointer;
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}
