<div class="header" [style.height]="show ? '22rem' : '4.1rem'">
  <div class="header-items">
    <div class="header-item logo">
      <img src="../../../../assets/logo.svg" alt="" />
      <i class="fa-solid fa-bars-staggered ber" (click)="onshow()"></i>
    </div>
    <div class="items">
      <div class="header-item pages">
        <ul class="">
          <li *ngFor="let myArray of myObjectArray">
            {{ myArray.name }}
          </li>
        </ul>
      </div>
      <div class="header-item icons">
        <i class="fa-regular fa-message"></i>
        <i class="fa-regular fa-bell"></i>
      </div>
      <div class="header-item btns login">
        <div class="image">
          <img src="../../../../assets/header-image.jpg" alt="" />
          <i class="fa-solid fa-bars"></i>
        </div>
        <button class="ads"> اضف اعلان</button>
      </div>
      <!-- <div class="header-item btns">
        <button class="active">كن مشتغل</button>
        <button>تسجيل الدخول</button>
      </div> -->
    </div>
  </div>
</div>
<app-search></app-search>
<!-- <a routerLink="/home">Home</a>
<a routerLink="/search">search</a> -->
