<div class="header" [class.fixed]="isHeaderFixed">
  <div class="header-items" [ngClass]="{ show: show }"   >
    <div class="header-item logo">
      <img src="assets/images/logo-text.svg" alt="" />
      <i class="fa-solid fa-bars ber"  (click)="onshow()"></i>
    </div>
    <div class="items">
      <div class="header-item pages">
        <ul >
          <li *ngFor="let myArray of myObjectArray">
            {{ myArray.name }}
          </li>
        </ul>
      </div>
      <div class="header-item icons">
        <i class="fa-regular fa-message"></i>
        <i class="fa-regular fa-bell"></i>
      </div>
      <div class="header-item btns login">
        <div class="image">
          <img src="assets/images/header-image.jpg" alt="" />
          <i class="fa-solid fa-bars"></i>
        </div>
        <button class="ads">اضف اعلان</button>
      </div>
      <!-- This will be used later with the if condition -->
      <!-- <div class="header-item btns">
        <button class="active">كن مشتغل</button>
        <button>تسجيل الدخول</button>
      </div> -->
    </div>
  </div>
  <app-search></app-search>
</div>
