<app-page>
  <ng-container content>
    <div class="bg-blue-950">
      <div class="container mx-auto p-16 pt-4 pb-52">
        <div class="flex gap-x-2 text-white">
          <a
            routerLink="/path"
            class="p-2 w-8 h-8 bg-teal-500 rounded-md flex justify-center"
            ><i class="fa-solid fa-ellipsis-vertical"></i
          ></a>
          <a
            routerLink="/path"
            class="p-2 w-8 h-8 bg-teal-500 rounded-md flex justify-center"
            ><i class="fa-solid fa-share-nodes"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="bg-slate-100 text-[#37383B]">
      <div class="container flex gap-4 pt-10">
        <!-- sidebar -->
        <div class="bg-white w-1/5 h-fit relative">
          <!-- img -->
          <div
            class="absolute flex justify-center items-center w-full -translate-y-16"
          >
            <div class="img relative">
              <img
                src="assets/images/profile-image.jpg"
                alt="profile-image"
                class="w-32 h-32 rounded-xl"
              />
              <button
                class="absolute bottom-0 right-24 bg-blue-950 w-8 h-8 text-white flex justify-center items-center rounded-full p-4 mr-1"
              >
                <i class="fa-solid fa-cloud-arrow-up fa-lg"></i>
              </button>
            </div>
          </div>
          <!-- info -->
          <div class="pt-20 text-center">
            <div class="flex justify-center items-center gap-2">
              <h1 class="text-xl font-bold">عدنان السوري</h1>
              <img
                src="assets/images/flag-ksa.png"
                alt="flag"
                class="w-8 h-full"
              />
            </div>
            <p class="p-2">مهندس برمجيات</p>
            <div class="flex justify-center items-center">
              <i class="fa-solid fa-location-dot ml-2"></i>
              <p>السعودية, الرياض</p>
            </div>
            <div class="flex justify-center items-center pt-3">
              <div class="progress w-9/12 h-3">
                <div
                  class="progress-bar bg-[#259A34] rounded-xl"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <p>80%</p>
          </div>
          <!-- status -->
          <div class="flex justify-between items-center px-4 pt-6">
            <p>الحالة</p>
            <button>
              <label class="toggle">
                <input type="checkbox" />
                <span class="slider"></span>
                <span class="labels" data-on="متاح" data-off="غير متاح"></span>
              </label>
            </button>
          </div>
          <!-- links -->
          <div class="flex flex-col px-4 pt-6 transition-all">
            <a
              *ngFor="let link of links"
              [routerLink]="[link.path]"
              routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{
                'before:absolute before:block before:w-2.5 before:h-2.5 before:bg-[#FCBF2A] before:rounded-full before:-translate-x-20':
                  link.special
              }"
              class="w-full border-b py-3 transition-all hover:p-5"
            >
              <i [class]="link.icon"></i>
              <span class="pr-3">{{ link.text }}</span>
            </a>
          </div>
        </div>
        <!-- body -->
        <div class="w-4/5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-container>
</app-page>
