<app-page>
  <ng-container content>
    <div class="bg-blue-950">
      <div class="container mx-auto p-16 pt-4 pb-52">
        <div class="flex gap-x-2 text-white">
          <a
            routerLink="/path"
            class="p-2 w-8 h-8 bg-teal-500 rounded-md flex justify-center"
            ><i class="fa-solid fa-ellipsis-vertical"></i
          ></a>
          <a
            routerLink="/path"
            class="p-2 w-8 h-8 bg-teal-500 rounded-md flex justify-center"
            ><i class="fa-solid fa-share-nodes"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="bg-slate-100 text-[#37383B]">
      <div class="container flex gap-4 pt-10">
        <!-- sidebar -->
        <div class="bg-white w-1/5 h-screen relative">
          <!-- img -->
          <div
            class="absolute flex justify-center items-center w-full -translate-y-16"
          >
            <div class="img relative">
              <img
                src="../../../assets/images/profile-image.jpg"
                alt="profile-image"
                class="w-32 h-32 rounded-xl"
              />
              <button
                class="absolute bottom-0 right-24 bg-blue-950 w-8 h-8 text-white flex justify-center items-center rounded-full p-4 mr-1"
              >
                <i class="fa-solid fa-cloud-arrow-up fa-lg"></i>
              </button>
            </div>
          </div>
          <!-- info -->
          <div class="pt-20 text-center">
            <div class="flex justify-center items-center gap-2">
              <h1 class="text-xl font-bold">عدنان السوري</h1>
              <img
                src="../../../assets/images/flag-ksa.png"
                alt="flag"
                class="w-8 h-full"
              />
            </div>
            <p class="p-2">مهندس برمجيات</p>
            <div class="flex justify-center items-center">
              <i class="fa-solid fa-location-dot ml-2"></i>
              <p>السعودية, الرياض</p>
            </div>
            <div class="flex justify-center items-center pt-3">
              <div class="progress w-9/12 h-3">
                <div
                  class="progress-bar bg-[#259A34] rounded-xl"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <p>80%</p>
          </div>
          <!-- status -->
          <div class="flex justify-between items-center px-4 pt-6">
            <p>الحالة</p>
            <button>
              <label class="toggle">
                <input type="checkbox" />
                <span class="slider"></span>
                <span class="labels" data-on="متاح" data-off="غير متاح"></span>
              </label>
            </button>
          </div>
          <!-- links -->
          <div class="flex flex-col px-4 pt-6">
            <a
              [routerLink]="['my-profile']"
              routerLinkActive="router-link-active"
              class="w-full border-b py-3"
            >
              <i class="fa-solid fa-user"></i>
              <span class="pr-3">الحساب الشخصــي</span>
            </a>

            <a
              [routerLink]="['offers']"
              routerLinkActive="router-link-active"
              class="w-full border-b py-3"
            >
              <i class="fa-solid fa-clipboard-check"></i>
              <span class="pr-3">العروض</span>
            </a>

            <a
              [routerLink]="['ads']"
              routerLinkActive="router-link-active"
              class="w-full border-b py-3"
            >
              <i class="fa-solid fa-bullhorn"></i>
              <span class="pr-3">إعلاناتي</span>
            </a>

            <a
              [routerLink]="['custumer-requests']"
              routerLinkActive="router-link-active"
              class="w-full border-b py-3"
            >
              <i class="fa-sharp fa-solid fa-people-group"></i>
              <span class="pr-3">طلبات العملاء</span>
            </a>

            <a
              [routerLink]="['my-requests']"
              routerLinkActive="router-link-active"
              class="w-full border-b py-3"
            >
              <i class="fa-solid fa-clipboard-list"></i>
              <span class="pr-3">طلباتي</span>
            </a>

            <a
              [routerLink]="['notifications']"
              routerLinkActive="router-link-active"
              class="w-full border-b py-3"
            >
              <i class="fa-solid fa-message-captions"></i>
              <span class="pr-3">الإشعارات</span>
            </a>

            <a
              [routerLink]="['edit-profile']"
              routerLinkActive="router-link-active"
              class="w-full border-b py-3"
            >
              <i class="fa-solid fa-user-pen"></i>
              <span class="pr-3">تعديل حسابي</span>
            </a>

            <a
              [routerLink]="['wallet']"
              routerLinkActive="router-link-active"
              class="w-full border-b py-3"
            >
              <i class="fa-solid fa-wallet"></i>
              <span class="pr-3">المحفظة الإلكترونية</span>
            </a>

            <a
              [routerLink]="['settings']"
              routerLinkActive="router-link-active"
              class="w-full border-b py-3"
            >
              <i class="fa-solid fa-gear"></i>
              <span class="pr-3">اعدادات الحساب</span>
            </a>

            <a
              [routerLink]="['log-out']"
              routerLinkActive="router-link-active"
              class="w-full py-3"
            >
              <i class="fa-solid fa-right-from-bracket"></i>
              <span class="pr-3">تسجيل الخروج</span>
            </a>
          </div>
        </div>
        <!-- body -->
        <div class="w-4/5 bg-white mx-auto pt-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-container>
</app-page>
